.Rproj.user
.Rhistory
.RData
.Ruserdata
"march_2026.zip" 
"march_2026.zip" 
"*.zip" 
"*.tif" 
"*.png" 
"march_2026/" 
"gadm/" 
"Spatial Optimization.html" 
"Spatial Optimization_files/" 
"Spatial-Optimization_files/" 
"MarineDebris_files/" 
"hawaii_soils_with_orders.geojson" 
"march_2026.zip" 
"*.png" 
"*.zip" 
"*.html" 
"*.geojson" 
"gadm/" 
"march_2026/" 
"MarineDebris_files/" 
"Spatial Optimization_files/" 
"Spatial-Optimization_files/" 
